<div class="main-content">
    <br><br><br>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Available</th>
            <th>Units in Stock</th>
            <th>Select Return</th>
        </tr>

        <tr *ngFor="let tempProduct of orders">
            <td>{{ tempProduct.orderId }}</td>
            <td>{{ tempProduct.product.name }}</td>
            <td>{{ tempProduct.purchaseDate }}</td>
            <td>{{ tempProduct.quantity }}</td>
            <td>{{ tempProduct.totalAmount }}</td>
            <button type="button" (click)="focusOrder(tempProduct)">Return</button>
        </tr>

        <div class="form-group">
            <label for="description">Reason for Return</label>
            <input
              type="text"
              class="form-control"
              name="description"
              [(ngModel)]="form.description"/>
          </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">Submit Return Request</button>
        </div>
    </table>
    
</div>