<div class="container">
    <header class="jumbotron">
      <button type="button"routerLink="/registerProduct">Register Product</button><br><br>
      <button type="button" routerLink="/requestStock">Request for New Pairs</button><br><br>
      <button type="button" routerLink="/viewEmployees">Employee View</button><br><br>
      <button type="button" routerLink="/allProducts">Stock View</button><br><br>
      <button type="button" routerLink="/category/1">Stock View By Category ID</button><br><br>
      <button type="button" routerLink="/createCustomer">Create Customer's Profile</button><br><br>
      <button type="button" routerLink="/walkInBilling">Billing for Walk-in Customers</button><br><br>
      <button type="button" routerLink="/manager/registerProduct">Check Customer Feedback</button><br><br>
    </header>
  </div>
  