<div class="container">
    <header class="jumbotron">
      <button type="button"routerLink="/employee">Register Product</button><br><br>
      <button type="button" href="/manager/registerProduct">Stock View</button><br><br>
      <button type="button" href="/manager/registerProduct">Request for New Pairs</button><br><br>
      <button type="button" href="/manager/registerProduct">Employee View</button><br><br>
      <button type="button" href="/manager/registerProduct">Create Customer's Profile</button><br><br>
      <button type="button" href="/manager/registerProduct">Stock View</button><br><br>
      <button type="button" href="/manager/registerProduct">Billing for Walk in Customers</button><br><br>
      <button type="button" href="/manager/registerProduct">Check Customer Feedback</button><br><br>
    </header>
  </div>
  