<div class="main-content">
    <table>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Image URL</th>
            <th>Available</th>
            <th>Units in Stock</th>
            <th>Date Created</th>
            <th>Last Updated</th>
        </tr>

        <tr *ngFor="let tempProduct of products">
            <td>{{ tempProduct.productId }}</td>
            <td>{{ tempProduct.name }}</td>
            <td>{{ tempProduct.description }}</td>
            <td>{{ tempProduct.unitPrice }}</td>
            <td>{{ tempProduct.imageUrl }}</td>
            <td>{{ tempProduct.available }}</td>
            <td>{{ tempProduct.unitsInStock }}</td>
            <td>{{ tempProduct.dateCreated }}</td>
            <td>{{ tempProduct.lastUpdated }}</td>
        </tr>

    </table>
    <br><br><br><br>
    <button type="button"routerLink="/category/0"> All </button> <br><br>
    <button type="button"routerLink="/category/1"> Shoes </button> <br><br>
    <button type="button"routerLink="/category/2"> Handbags </button><br><br>
    <button type="button"routerLink="/category/3"> Clothes </button><br><br>

</div>