<div class="col-md-12">
    <div class="card card-container">
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="productId">Product ID</label>
          <input
            type="text"
            class="form-control"
            name="productId"
            [(ngModel)]="form.productId"/>
        </div>
        <div class="form-group">
          <label for="quantity">Add to Quantity</label>
          <input
            type="number"
            class="form-control"
            name="quantity"
            [(ngModel)]="form.quantity"/>
        </div>

        

        <div class="form-group">
          <button class="btn btn-primary btn-block">Add to stock</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isRegisterFailed">
          Stock Adding Failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your "Add to Stock" was successful!
      </div>
    </div>
  </div>